* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  --bg: rosybrown;
}
body {
  margin: 20px;
  text-align: center;
  background-color: azure;
}
header {
  padding: 20px 30px;
  color: purple;
  font-weight: 500;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-color: white;
}
/* shape containers */
.container > div {
  margin: 10px;
  width: 240px;
  height: 240px;
  background-color: rgb(253, 212, 129);
  box-shadow: 0 0 5px hsl(40, 72%, 59%);
  border: solid 1px hsl(40, 72%, 59%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
/* shape labels */
p {
  padding: 10px 0;
  z-index: 20;
}
